.footer {
    padding: 35px 0 37px;
    &__nav {
        text-align: center;
    }
    &__title {
        color: #C2C2C2;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__text {
        color: #999;
        font-size: 12px;
        font-weight: 400;
    }
}