@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato",sans-serif;
    text-decoration: none;
    list-style-type: none;
}
body {
   background: #222; 
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
}

@import"header";
@import"begin";
@import"work";
@import"footer";